[class*="xtr tab menu"] ul{	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;  

	background: #fff!important;
	
	-webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}
[class*="xtr tab menu"] ul{
	border-color: rgba(210, 210, 210,.4)!important;

	border-bottom-width: 2px !important;
	border-bottom-style: solid !important;

    margin-top: 0.1rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0.25rem !important;
}
[class*="xtr tab menu"].centralizado ul{
	-webkit-justify-content: center;
	justify-content: center;
}
[class*="xtr tab menu"][class*="alinhamento esquerda"] ul,
[class*="xtr tab menu"][class*="alinhamento a esquerda"] ul,
[class*="xtr tab menu"][class*="alinhado a esquerda"] ul,
[class*="xtr tab menu"][class*="alinhado esquerda"] ul{
	padding-left: 0.3em !important;
}
[class*="xtr tab menu"][class*="alinhamento vertical"] ul{
	flex-direction: column!important;
	-webkit-flex-direction: column!important;

	padding-left: 2px!important;
}
[class*="xtr tab menu"][class*="alinhamento esquerda vertical"] ul,
[class*="xtr tab menu"][class*="alinhamento vertical esquerda"] ul,
[class*="xtr tab menu"][class*="alinhamento vertical a esquerda"] ul,
[class*="xtr tab menu"][class*="alinhamento vertical e esquerda"] ul,
[class*="xtr tab menu"][class*="alinhamento esquerda e vertical"] ul,
[class*="xtr tab menu"][class*="alinhamento vertical"] ul{
	border-right-width: 2px !important;
	border-right-style: solid !important;

	float: left !important;
	height: 80%;

    margin-top: 0 !important;
	margin-left: 0.1rem !important;
	margin-right: 0.25rem !important;
    margin-bottom: 0 !important;	
}
[class*="xtr tab menu"][class*="alinhamento vertical direita"] ul,
[class*="xtr tab menu"][class*="alinhamento vertical a direita"] ul,
[class*="xtr tab menu"][class*="alinhamento vertical e direita"] ul,
[class*="xtr tab menu"][class*="alinhamento direita e vertical"] ul,
[class*="xtr tab menu"][class*="alinhamento direita vertical"] ul{
	border-right-width: 2px !important;
	border-right-style: solid !important;

	float: right !important;
	
	margin-top: 0px!important;
	margin-right: -2px!important;
	margin-left: 0px!important;
	margin-bottom: 0px!important;
}
[class*="xtr tab menu"] li p{
	margin: 1.2em !important;
}
[class*="xtr tab menu"] li,
[class*="xtr tab menu"][class*="padding normal"] li{
	padding: 0.6em 1.2em!important;
}
[class*="xtr tab menu"][class*="padding dobrado"] li{
	padding: 1.2em 2.4em!important;
}
[class*="xtr tab menu"][class*="padding reduzido"] li{	
	padding: 0.15em 0.3em !important;
}
[class*="xtr tab menu"] li{	
	position: relative;

	border-color: inherit !important;

	border-bottom-width: 2px !important;
	border-bottom-style: solid !important;

	border-radius: 0px!important;

	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: -2px!important;

	cursor: pointer!important;
	
	display: block !important;

	width: auto;

	color: #717171 !important;
	
	font-size: 14px !important;
	font-weight: normal !important;
	text-align: center !important;	

	-webkit-transition: .3s border, .5s background;
    -moz-transition: .3s border, .5s background;
    -ms-transition: .3s border, .5s background;
    -o-transition: .3s border, .5s background;
	transition: .3s border, .5s background;
}
[class*="xtr tab menu"] li:hover{
	background: rgba(0, 0, 0, 0.03) none repeat scroll 0% 0%;
	color: rgba(0, 0, 0, 0.95);

	/* border-color: rgba(0,0,0,.2) !important; */
	border-color: #105CB6 !important;
}
[class*="xtr tab menu"][class*="vertical dividido"] li:after{
	border:none !important;
	
	border-color: inherit !important; 
	border-bottom-width: 2px !important;
	border-bottom-style: solid !important;

	margin: -0em -1.2em -.6em;
	
	overflow: hidden;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	content: " ";
}
[class*="xtr tab menu"] li.heranca *{
	color: inherit !important;
}
[class*="xtr tab menu"] li.ativa,
[class*="xtr tab menu"] li.ativo,
[class*="xtr tab menu"] li:active{
	border-color: rgba(0,0,0,.6) !important;
	background-color: rgba(0,0,0,.05) !important;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}
[class*="xtr tab menu"] li > *  {
    -webkit-align-self: center;
    align-self: center;
}
[class*="tab escondida"]{
	display: none !important;
}