.xtrPaginacaoScript{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;		
	width: 100% !important;
}
.xtrPaginacaoScript div{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	padding: 1rem!important;
}
.xtrPaginacaoScript div:last-child{
	margin-right: auto !important;
}
.xtrPaginacaoScript div:first-child{
	margin-left: auto !important;
}
.xtrPaginacaoScript div:not(:first-child):not(:last-child){
	border-radius: 0px !important;
}
.xtrPaginacaoScript div:first-child{
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.xtrPaginacaoScript div:last-child{	
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}
.xtrPaginacaoScript div:not(:first-child){
	border-left:none !important;	
}